# æ•°æ®ç­›é€‰

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```

```{note} 
æœ¬é¡µé¢ä»£ç å¯ä»¥[åœ¨çº¿ç¼–è¾‘ã€æ‰§è¡Œ](../æŒ‡å¼•/åœ¨çº¿æ‰§è¡Œ.md)ï¼
```

## æœ¬é¡µæ•°æ®è¯´æ˜

ä¸ºäº†æ›´å¥½çš„ä»‹ç»ç›¸å…³æ“ä½œï¼Œæœ¬é¡µé¢ä½¿ç”¨ **ä¸œäº¬å¥¥è¿ä¼šå¥–ç‰Œæ•°æ®** æ•°æ®è¿›è¡Œå±•å¼€ï¼Œä½ åº”è¯¥å¯¹æ•°æ®**å­—æ®µã€æ•°å€¼ã€ç±»å‹**ç­‰ç›¸å…³ä¿¡æ¯åšä¸€ä¸ªå¤§è‡´äº†è§£ï¼

In [1]:
import pandas as pd

df = pd.read_csv("ä¸œäº¬å¥¥è¿ä¼šå¥–ç‰Œæ•°æ®.csv")

df.rename(columns={'Unnamed: 2':'é‡‘ç‰Œæ•°',
                  'Unnamed: 3':'é“¶ç‰Œæ•°',
                  'Unnamed: 4':'é“œç‰Œæ•°'},inplace=True)

## ç­›é€‰åˆ—


### é€šè¿‡åˆ—å·

æå–ç¬¬ 1ã€2ã€3ã€4 åˆ—

In [2]:
df.iloc[:,[0,1,2,3]]

    æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°
0    1    ç¾å›½   39   41
1    2    ä¸­å›½   38   32
2    3    æ—¥æœ¬   27   14
3    4    è‹±å›½   22   21
4    5   ROC   20   28
..  ..   ...  ...  ...
88  86    åŠ çº³    0    0
89  86  æ ¼æ—çº³è¾¾    0    0
90  86   ç§‘å¨ç‰¹    0    0
91  86  æ‘©å°”å¤šç“¦    0    0
92  86   å™åˆ©äºš    0    0

[93 rows x 4 columns]

### é€šè¿‡åˆ—å

æå– `é‡‘ç‰Œæ•°ã€é“¶ç‰Œæ•°ã€é“œç‰Œæ•°` ä¸‰åˆ—

In [3]:
df[['é‡‘ç‰Œæ•°','é“¶ç‰Œæ•°','é“œç‰Œæ•°']]

    é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°
0    39   41   33
1    38   32   18
2    27   14   17
3    22   21   22
4    20   28   23
..  ...  ...  ...
88    0    0    1
89    0    0    1
90    0    0    1
91    0    0    1
92    0    0    1

[93 rows x 3 columns]

### æ¡ä»¶ï¼ˆåˆ—å·ï¼‰

ç­›é€‰å…¨éƒ¨ **å¥‡æ•°åˆ—**

In [4]:
df.iloc[:,[i%2==1 for i in range(len(df.columns))]]

   å›½å®¶å¥¥å§”ä¼š  é“¶ç‰Œæ•°   æ€»åˆ† å›½å®¶å¥¥å§”ä¼šä»£ç
0     ç¾å›½   41  113     USA
1     ä¸­å›½   32   88     CHN
2     æ—¥æœ¬   14   58     JPN
3     è‹±å›½   21   65     GBR
4    ROC   28   71     ROC
..   ...  ...  ...     ...
88    åŠ çº³    0    1     GHA
89  æ ¼æ—çº³è¾¾    0    1     GRN
90   ç§‘å¨ç‰¹    0    1     KUW
91  æ‘©å°”å¤šç“¦    0    1     MDA
92   å™åˆ©äºš    0    1     SYR

[93 rows x 4 columns]

### æ¡ä»¶ï¼ˆåˆ—åï¼‰

æå–å…¨éƒ¨åˆ—åä¸­åŒ…å« æ•° çš„åˆ—

In [5]:
df.loc[:, df.columns.str.endswith('æ•°')]

    é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°
0    39   41   33
1    38   32   18
2    27   14   17
3    22   21   22
4    20   28   23
..  ...  ...  ...
88    0    0    1
89    0    0    1
90    0    0    1
91    0    0    1
92    0    0    1

[93 rows x 3 columns]

### ç»„åˆï¼ˆè¡Œå·+åˆ—åï¼‰

æå–å€’æ•°åä¸‰åˆ—çš„10-20è¡Œ

In [6]:
df.loc[10:20, 'æ€»åˆ†':]

    æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
10  24     11     CAN
11  21     12     BRA
12  20     13     NZL
13  15     18     CUB
14  20     13     HUN
15  20     13     KOR
16  14     19     POL
17  11     23     CZE
18  10     25     KEN
19   8     29     NOR
20   9     26     JAM

## ç­›é€‰è¡Œ

### é€šè¿‡è¡Œå·

æå–ç¬¬ 10 è¡Œ

In [7]:
df.loc[9:9]

   æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°  æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
9  10   æ„å¤§åˆ©   10   10   20  40      7     ITA

### é€šè¿‡è¡Œå·ï¼ˆå¤šè¡Œï¼‰

æå–ç¬¬ 10 è¡Œä¹‹åçš„å…¨éƒ¨è¡Œ

In [8]:
df.loc[9:]

    æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°  æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
9   10   æ„å¤§åˆ©   10   10   20  40      7     ITA
10  11   åŠ æ‹¿å¤§    7    6   11  24     11     CAN
11  12    å·´è¥¿    7    6    8  21     12     BRA
12  13   æ–°è¥¿å…°    7    6    7  20     13     NZL
13  14    å¤å·´    7    3    5  15     18     CUB
..  ..   ...  ...  ...  ...  ..    ...     ...
88  86    åŠ çº³    0    0    1   1     77     GHA
89  86  æ ¼æ—çº³è¾¾    0    0    1   1     77     GRN
90  86   ç§‘å¨ç‰¹    0    0    1   1     77     KUW
91  86  æ‘©å°”å¤šç“¦    0    0    1   1     77     MDA
92  86   å™åˆ©äºš    0    0    1   1     77     SYR

[84 rows x 8 columns]

### å›ºå®šé—´éš”

æå– 0-50 è¡Œï¼Œé—´éš”ä¸º 3

In [9]:
df[:50:3]

    æ’å  å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°   æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
0    1     ç¾å›½   39   41   33  113      1     USA
3    4     è‹±å›½   22   21   22   65      4     GBR
6    7     è·å…°   10   12   14   36      9     NED
9   10    æ„å¤§åˆ©   10   10   20   40      7     ITA
12  13    æ–°è¥¿å…°    7    6    7   20     13     NZL
15  16     éŸ©å›½    6    4   10   20     13     KOR
18  19    è‚¯å°¼äºš    4    4    2   10     25     KEN
21  22    è¥¿ç­ç‰™    3    8    6   17     17     ESP
24  25     ä¸¹éº¦    3    4    4   11     23     DEN
27  28   å¡å°”ç»´äºš    3    1    5    9     26     SRB
30  31  æ–¯æ´›æ–‡å°¼äºš    3    1    1    5     42     SLO
33  34   ä¸­åå°åŒ—    2    4    6   12     22     TPE
36  36    ä¹Œå¹²è¾¾    2    1    1    4     47     UGA
39  39    ä»¥è‰²åˆ—    2    0    2    4     47     ISR
42  42    ç§‘ç´¢æ²ƒ    2    0    0    2     66     KOS
45  46   ç½—é©¬å°¼äºš    1    3    0    4     47     ROU
48  49   ä¸­å›½é¦™æ¸¯    1    2    3    6     39     HKG

### åˆ¤æ–­ï¼ˆå¤§äºï¼‰

æå– é‡‘ç‰Œæ•° å¤§äº 30 çš„è¡Œ

In [10]:
df[df['é‡‘ç‰Œæ•°'] > 30]

   æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°   æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
0   1    ç¾å›½   39   41   33  113      1     USA
1   2    ä¸­å›½   38   32   18   88      2     CHN

### åˆ¤æ–­ï¼ˆç­‰äºï¼‰

æå– `é‡‘ç‰Œæ•°` ç­‰äº 10 çš„è¡Œ

In [11]:
df.loc[df['é‡‘ç‰Œæ•°'] == 10]

   æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°  æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
6   7    è·å…°   10   12   14  36      9     NED
7   8    æ³•å›½   10   12   11  33     10     FRA
8   9    å¾·å›½   10   11   16  37      8     GER
9  10   æ„å¤§åˆ©   10   10   20  40      7     ITA

### åˆ¤æ–­ï¼ˆä¸ç­‰äºï¼‰

æå– `é‡‘ç‰Œæ•°` ä¸ç­‰äº `10` çš„è¡Œ

In [12]:
df.loc[~(df['é‡‘ç‰Œæ•°'] == 10)]

    æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°   æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
0    1    ç¾å›½   39   41   33  113      1     USA
1    2    ä¸­å›½   38   32   18   88      2     CHN
2    3    æ—¥æœ¬   27   14   17   58      5     JPN
3    4    è‹±å›½   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
..  ..   ...  ...  ...  ...  ...    ...     ...
88  86    åŠ çº³    0    0    1    1     77     GHA
89  86  æ ¼æ—çº³è¾¾    0    0    1    1     77     GRN
90  86   ç§‘å¨ç‰¹    0    0    1    1     77     KUW
91  86  æ‘©å°”å¤šç“¦    0    0    1    1     77     MDA
92  86   å™åˆ©äºš    0    0    1    1     77     SYR

[89 rows x 8 columns]

### æ¡ä»¶ï¼ˆæŒ‡å®šè¡Œå·ï¼‰

æå–å…¨éƒ¨ **å¥‡æ•°è¡Œ**

In [13]:
df[[i%2==1 for i in range(len(df.index))]]

    æ’å   å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°  æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
1    2      ä¸­å›½   38   32   18  88      2     CHN
3    4      è‹±å›½   22   21   22  65      4     GBR
5    6    æ¾³å¤§åˆ©äºš   17    7   22  46      6     AUS
7    8      æ³•å›½   10   12   11  33     10     FRA
9   10     æ„å¤§åˆ©   10   10   20  40      7     ITA
11  12      å·´è¥¿    7    6    8  21     12     BRA
13  14      å¤å·´    7    3    5  15     18     CUB
15  16      éŸ©å›½    6    4   10  20     13     KOR
17  18      æ·å…‹    4    4    3  11     23     CZE
19  20      æŒªå¨    4    2    2   8     29     NOR
21  22     è¥¿ç­ç‰™    3    8    6  17     17     ESP
23  24      ç‘å£«    3    4    6  13     20     SUI
25  26    å…‹ç½—åœ°äºš    3    3    2   8     29     CRO
27  28    å¡å°”ç»´äºš    3    1    5   9     26     SRB
29  30    ä¿åŠ åˆ©äºš    3    1    2   6     39     BUL
31  32  ä¹Œå…¹åˆ«å…‹æ–¯å¦    3    0    2   5     42     UZB
33  34    ä¸­åå°åŒ—    2    4    6  12     22     TPE
35  36      å¸Œè…Š    2    1    1   4     47     GRE
37  38    å„ç“œå¤šå°”    2    1    0   3     60     ECU
39  39     ä»¥è‰²åˆ—    2    0    2   4     47     ISR
41  42     å·´å“ˆé©¬    2    0    0   2     66     BAH
43  44     ä¹Œå…‹å…°    1    6   12  19     16     UKR
45  46    ç½—é©¬å°¼äºš    1    3    0   4     47     ROU
47  48      å°åº¦    1    2    4   7     33     IND
49  50     è²å¾‹å®¾    1    2    1   4     47     PHI
51  52      å—é    1    2    0   3     60     RSA
53  54      åŸƒåŠ    1    1    4   6     39     EGY
55  56   åŸƒå¡ä¿„æ¯”äºš    1    1    2   4     47     ETH
57  58     çªå°¼æ–¯    1    1    0   2     66     TUN
59  59      æ–æµ    1    0    1   2     66     FIJ
61  59      æ³°å›½    1    0    1   2     66     THA
63  63     æ‘©æ´›å“¥    1    0    0   1     77     MAR
65  66    å“¥ä¼¦æ¯”äºš    0    4    1   5     42     COL
67  68    å¤šç±³å°¼åŠ     0    3    2   5     42     DOM
69  70  å‰å°”å‰æ–¯æ–¯å¦    0    2    1   3     60     KGZ
71  72     é˜¿æ ¹å»·    0    1    2   3     60     ARG
73  74      çº¦æ—¦    0    1    1   2     66     JOR
75  74    å°¼æ—¥åˆ©äºš    0    1    1   2     66     NGR
77  77   æ²™ç‰¹é˜¿æ‹‰ä¼¯    0    1    0   1     77     KSA
79  77    åŒ—é©¬å…¶é¡¿    0    1    0   1     77     MKD
81  77   åœŸåº“æ›¼æ–¯å¦    0    1    0   1     77     TKM
83  84     å¢¨è¥¿å“¥    0    0    4   4     47     MEX
85  86    åšèŒ¨ç“¦çº³    0    0    1   1     77     BOT
87  86    ç§‘ç‰¹è¿ªç“¦    0    0    1   1     77     CIV
89  86    æ ¼æ—çº³è¾¾    0    0    1   1     77     GRN
91  86    æ‘©å°”å¤šç“¦    0    0    1   1     77     MDA

### æ¡ä»¶ï¼ˆæŒ‡å®šå€¼ï¼‰


æå– ä¸­å›½ã€ç¾å›½ã€è‹±å›½ã€æ—¥æœ¬ã€å·´è¥¿äº”è¡Œæ•°æ®

In [14]:
df.loc[df['å›½å®¶å¥¥å§”ä¼š'].isin(['ä¸­å›½','ç¾å›½','è‹±å›½','æ—¥æœ¬','å·´è¥¿'])]

    æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°   æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
0    1    ç¾å›½   39   41   33  113      1     USA
1    2    ä¸­å›½   38   32   18   88      2     CHN
2    3    æ—¥æœ¬   27   14   17   58      5     JPN
3    4    è‹±å›½   22   21   22   65      4     GBR
11  12    å·´è¥¿    7    6    8   21     12     BRA

### å¤šæ¡ä»¶

åœ¨ä¸Šä¸€é¢˜çš„æ¡ä»¶ä¸‹ï¼Œæ–°å¢ä¸€ä¸ªæ¡ä»¶ï¼š**é‡‘ç‰Œæ•°å°äº30**

In [15]:
df.loc[(df['é‡‘ç‰Œæ•°'] < 30) & (df['å›½å®¶å¥¥å§”ä¼š'].isin(['ä¸­å›½','ç¾å›½','è‹±å›½','æ—¥æœ¬','å·´è¥¿']))]

    æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°  æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
2    3    æ—¥æœ¬   27   14   17  58      5     JPN
3    4    è‹±å›½   22   21   22  65      4     GBR
11  12    å·´è¥¿    7    6    8  21     12     BRA

### æ¡ä»¶ï¼ˆåŒ…å«æŒ‡å®šå€¼ï¼‰

æå– å›½å®¶å¥¥å§”ä¼š åˆ—ä¸­ï¼Œæ‰€æœ‰åŒ…å« `å›½`çš„è¡Œ

In [16]:
df[df.å›½å®¶å¥¥å§”ä¼š.str.contains('å›½')]

    æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°   æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
0    1    ç¾å›½   39   41   33  113      1     USA
1    2    ä¸­å›½   38   32   18   88      2     CHN
3    4    è‹±å›½   22   21   22   65      4     GBR
7    8    æ³•å›½   10   12   11   33     10     FRA
8    9    å¾·å›½   10   11   16   37      8     GER
15  16    éŸ©å›½    6    4   10   20     13     KOR
48  49  ä¸­å›½é¦™æ¸¯    1    2    3    6     39     HKG
61  59    æ³°å›½    1    0    1    2     66     THA

## ç»„åˆç­›é€‰

### ç­›é€‰æŸè¡ŒæŸåˆ—

æå– `ç¬¬ 0 è¡Œç¬¬ 2 åˆ—`

In [17]:
df.iloc[0:1,[1]]

  å›½å®¶å¥¥å§”ä¼š
0    ç¾å›½

### ç­›é€‰å¤šè¡Œå¤šåˆ—


æå– ç¬¬ 0-2 è¡Œç¬¬ 0-2 åˆ—

In [18]:
df.iloc[0:2,[0,1]]

   æ’å å›½å®¶å¥¥å§”ä¼š
0   1    ç¾å›½
1   2    ä¸­å›½

### ç»„åˆï¼ˆè¡Œå·+åˆ—å·ï¼‰

æå–ç¬¬ 4 è¡Œï¼Œç¬¬ 4 åˆ—çš„å€¼

In [19]:
df.iloc[3,3]

21

### ç»„åˆï¼ˆè¡Œå·+åˆ—åï¼‰

æå–è¡Œç´¢å¼•ä¸º 4 ï¼Œåˆ—åä¸º é‡‘ç‰Œæ•° çš„å€¼

In [20]:
df.at[4,'é‡‘ç‰Œæ•°']

20

### æ¡ä»¶

æå– å›½å®¶å¥¥å§”ä¼š ä¸º ä¸­å›½ çš„é‡‘ç‰Œæ•°

In [21]:
df.loc[df['å›½å®¶å¥¥å§”ä¼š'] == 'ä¸­å›½'].loc[1].at['é‡‘ç‰Œæ•°']

38

### query

ä½¿ç”¨ query æå– é‡‘ç‰Œæ•° + é“¶ç‰Œæ•° å¤§äº 15 çš„å›½å®¶

In [22]:
df.query('é‡‘ç‰Œæ•°+é“¶ç‰Œæ•° > 15')

   æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°   æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
0   1    ç¾å›½   39   41   33  113      1     USA
1   2    ä¸­å›½   38   32   18   88      2     CHN
2   3    æ—¥æœ¬   27   14   17   58      5     JPN
3   4    è‹±å›½   22   21   22   65      4     GBR
4   5   ROC   20   28   23   71      3     ROC
5   6  æ¾³å¤§åˆ©äºš   17    7   22   46      6     AUS
6   7    è·å…°   10   12   14   36      9     NED
7   8    æ³•å›½   10   12   11   33     10     FRA
8   9    å¾·å›½   10   11   16   37      8     GER
9  10   æ„å¤§åˆ©   10   10   20   40      7     ITA

###  queryï¼ˆå¼•ç”¨å˜é‡ï¼‰

ä½¿ç”¨ query æå– é‡‘ç‰Œæ•° å¤§äº é‡‘ç‰Œå‡å€¼çš„å›½å®¶

In [23]:
gold_mean = df['é‡‘ç‰Œæ•°'].mean()
df.query(f'é‡‘ç‰Œæ•° > {gold_mean}')

    æ’å å›½å®¶å¥¥å§”ä¼š  é‡‘ç‰Œæ•°  é“¶ç‰Œæ•°  é“œç‰Œæ•°   æ€»åˆ†  æŒ‰æ€»æ•°æ’å å›½å®¶å¥¥å§”ä¼šä»£ç
0    1    ç¾å›½   39   41   33  113      1     USA
1    2    ä¸­å›½   38   32   18   88      2     CHN
2    3    æ—¥æœ¬   27   14   17   58      5     JPN
3    4    è‹±å›½   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
5    6  æ¾³å¤§åˆ©äºš   17    7   22   46      6     AUS
6    7    è·å…°   10   12   14   36      9     NED
7    8    æ³•å›½   10   12   11   33     10     FRA
8    9    å¾·å›½   10   11   16   37      8     GER
9   10   æ„å¤§åˆ©   10   10   20   40      7     ITA
10  11   åŠ æ‹¿å¤§    7    6   11   24     11     CAN
11  12    å·´è¥¿    7    6    8   21     12     BRA
12  13   æ–°è¥¿å…°    7    6    7   20     13     NZL
13  14    å¤å·´    7    3    5   15     18     CUB
14  15   åŒˆç‰™åˆ©    6    7    7   20     13     HUN
15  16    éŸ©å›½    6    4   10   20     13     KOR
16  17    æ³¢å…°    4    5    5   14     19     POL
17  18    æ·å…‹    4    4    3   11     23     CZE
18  19   è‚¯å°¼äºš    4    4    2   10     25     KEN
19  20    æŒªå¨    4    2    2    8     29     NOR
20  21   ç‰™ä¹°åŠ     4    1    4    9     26     JAM