# concat - æ•°æ®æ‹¼æ¥

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```

```{note} 
æœ¬é¡µé¢ä»£ç å¯ä»¥[åœ¨çº¿ç¼–è¾‘ã€æ‰§è¡Œ](../æŒ‡å¼•/åœ¨çº¿æ‰§è¡Œ.md)ï¼
```


`concat` æˆ‘ç¿»è¯‘æˆæ•°æ®æ‹¼æ¥ï¼Œéœ€è¦å’Œ [merge](merge.ipynb) è¿›è¡ŒåŒºåˆ†ï¼Œåœ¨è¿›è¡Œ concat æ—¶ä¸€ä¸ªé‡è¦çš„å‚æ•°å°±æ˜¯ axis ï¼Œä¸‹å›¾æ˜¯ä¸€ä¸ªç®€å•çš„ä¾‹å­
```{figure} https://pic.liuzaoqi.com/picgo/202112232236228.png
:width: 100%
:align: center
```

ä¸‹é¢æ˜¯å®˜æ–¹æ–‡æ¡£ä¸­çš„æ¡ˆä¾‹ï¼Œä½ å¯ä»¥ä¿®æ”¹ç›¸å…³ä»£ç æ¥éªŒè¯è‡ªå·±çš„æƒ³æ³•ï¼

## æœ¬é¡µæ•°æ®è¯´æ˜

åœ¨å­¦ä¹ æœ¬é¡µé¢æ“ä½œæ—¶ï¼Œåº”å…ˆäº†è§£å¤§è‡´æ•°æ®ç»“æ„å¦‚ä¸‹

![](https://liuzaoqi.oss-cn-beijing.aliyuncs.com/picgo/202112052026569.png)

In [1]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

## é»˜è®¤æ‹¼æ¥

å‚ç›´æ‹¼æ¥ `df1ã€df2ã€df3`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png)

In [2]:
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

## é‡ç½®ç´¢å¼•

å‚ç›´æ‹¼æ¥ df1 å’Œ df4ï¼Œå¹¶æŒ‰é¡ºåºé‡æ–°ç”Ÿæˆç´¢å¼•ï¼Œ

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_ignore_index.png)

In [3]:
pd.concat([df1, df4], ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

## æ¨ªå‘æ‹¼æ¥

æ¨ªå‘æ‹¼æ¥ `df1ã€df4`ï¼Œæ•ˆæœå¦‚ä¸‹å›¾æ‰€ç¤º


![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1.png)

In [4]:
pd.concat([df1,df4],axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

## æ¨ªå‘æ‹¼æ¥ï¼ˆå–äº¤é›†ï¼‰

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåªå–ç»“æœçš„äº¤é›†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_inner.png)

In [5]:
pd.concat([df1,df4],axis=1,join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

## æ¨ªå‘æ‹¼æ¥ï¼ˆå–æŒ‡å®šï¼‰

åœ¨ 14 é¢˜åŸºç¡€ä¸Šï¼Œåªå–åŒ…å« df1 ç´¢å¼•çš„éƒ¨åˆ†

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_join_axes.png)

In [6]:
pd.concat([df1, df4], axis=1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

## æ–°å¢ç´¢å¼•

æ‹¼æ¥ `df1ã€df2ã€df3`ï¼ŒåŒæ—¶æ–°å¢ä¸€ä¸ªç´¢å¼•ï¼ˆ`xã€yã€z`ï¼‰æ¥åŒºåˆ†ä¸åŒçš„è¡¨æ•°æ®æ¥æº

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_keys.png)

In [7]:
pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11