# isin - ç­›é€‰

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```

```{note} 
æœ¬é¡µé¢ä»£ç å¯ä»¥[åœ¨çº¿ç¼–è¾‘ã€æ‰§è¡Œ](../æŒ‡å¼•/åœ¨çº¿æ‰§è¡Œ.md)ï¼
```

åœ¨ `pandas` ä¸­æœ‰æ²¡æœ‰ç±»ä¼¼ `SQL` ä¸­ `IN` å’Œ `NOTIN` çš„ç­›é€‰æ–¹æ³•ï¼Ÿ

`isin` å°±å¯ä»¥å®ç°ï¼Œé€šè¿‡ `isin` å¯ä»¥å¿«é€Ÿç­›é€‰å‡ºåŒ…å«æŸä¸ªå€¼çš„ç»“æœ

## æ ¹æ®åˆ—è¡¨ç­›é€‰

ç­›é€‰å‡º `country` åŒ…å« `'China','UK'` çš„è¡Œ

In [2]:
import pandas as pd
df3 = pd.DataFrame({'country': ['China','US', 'UK', 'Germany', 'Japan'],
             'rank':[1,2,3,4,5]})

df3

   country  rank
0    China     1
1       US     2
2       UK     3
3  Germany     4
4    Japan     5

In [4]:
df3[df3.country.isin(['China','UK'])]

  country  rank
0   China     1
2      UK     3

## é€†ç­›é€‰

å¯¹ä¸Šä¸€é¢˜çš„ç»“æœå–é€†

In [5]:
df3[~df3.country.isin(['China','UK'])]

   country  rank
1       US     2
3  Germany     4
4    Japan     5