# map ä¸ applymap


`pandas` ä¸­çš„ `map` å’Œ `applymap` å¯ä»¥å¯¹æŒ‡å®šåˆ—ï¼ˆmapï¼‰æˆ–æ•´ä¸ªæ•°æ®æ¡†ï¼ˆapplymapï¼‰å·¥ä½œ

å®Œæˆæ›¿æ¢ã€æ ¼å¼åŒ–ã€è®¡ç®—ç­‰æ“ä½œï¼Œæ˜¯ `Pandas` æ•°æ®åˆ†æä¸­ååˆ†é‡è¦çš„å·¥å…·ã€‚

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```

```{note} 
æœ¬é¡µé¢ä»£ç å¯ä»¥[åœ¨çº¿ç¼–è¾‘ã€æ‰§è¡Œ](../æŒ‡å¼•/åœ¨çº¿æ‰§è¡Œ.md)ï¼
````

## æœ¬é¡µé¢æ•°æ®è¯´æ˜

ä¸ºäº†æ›´å¥½çš„ä»‹ç»ç›¸å…³æ“ä½œï¼Œä½ åº”è¯¥å¯¹æ•°æ®å­—æ®µã€æ•°å€¼ã€ç±»å‹ç­‰ç›¸å…³ä¿¡æ¯åšä¸€ä¸ªå¤§è‡´äº†è§£ï¼

In [1]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'A': ['A0', 'A1', np.nan, 'A3'],
                    'B': ['B0',np.nan,'B3',np.nan],
                    'C': ['C0','C1','C2',np.nan],
                    'D': np.random.randn(4),
                    'E': np.random.randn(4),
                   'F': np.random.randn(4)},
                   index=[0, 1, 2, 3])

df1

     A    B    C         D         E         F
0   A0   B0   C0  0.459455 -0.769518  0.273122
1   A1  NaN   C1  0.600542 -1.008411  0.044325
2  NaN   B3   C2  0.815450 -1.261917 -0.165630
3   A3  NaN  NaN -1.169454  1.574714 -1.126999

## åŸºæœ¬ä½¿ç”¨

å°† `df1` ç¬¬ä¸€åˆ—ä¸­çš„ `A0` æ›¿æ¢ä¸º `cat`ï¼Œ`A3` æ›¿æ¢ä¸º `rabbit`ï¼Œå…¶ä½™ä¸ºè®¾ç½®ä¸º`NaN`ï¼ˆç¼ºå¤±å€¼ï¼‰

In [2]:
df1['A'] = df1['A'].map({'A0':'cat','A3':'rabbit'})
df1

        A    B    C         D         E         F
0     cat   B0   C0  0.459455 -0.769518  0.273122
1     NaN  NaN   C1  0.600542 -1.008411  0.044325
2     NaN   B3   C2  0.815450 -1.261917 -0.165630
3  rabbit  NaN  NaN -1.169454  1.574714 -1.126999

## åŒ¿åå‡½æ•°

åœ¨ä¸Šä¸€é¢˜çš„ç»“æœä¸Šï¼Œå°† df1 ç¬¬ 1 åˆ—ä¸­çš„å­—ç¬¦æœ«å°¾è¿½åŠ ã€Œä»Šå¤©å…³æ³¨äº†æ—©èµ·Pythonã€

In [3]:
df1['A'] = df1['A'].map(lambda x:f'{x} ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python')
df1

                      A    B    C         D         E         F
0     cat ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python   B0   C0  0.459455 -0.769518  0.273122
1     nan ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python  NaN   C1  0.600542 -1.008411  0.044325
2     nan ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python   B3   C2  0.815450 -1.261917 -0.165630
3  rabbit ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python  NaN  NaN -1.169454  1.574714 -1.126999

## è·³è¿‡ç¼ºå¤±å€¼

ä¸Šä¸€é¢˜ä¸­ï¼Œnanï¼ˆç¼ºå¤±å€¼ï¼‰ä¹Ÿè¢«åŒæ­¥è¿½åŠ äº†å­—ç¬¦ä¸²

ç°åœ¨é‡æ–°å¯¹ç¬¬äºŒåˆ—æ‰§è¡ŒåŒæ ·çš„æ“ä½œï¼Œå¹¶è·³è¿‡ç¼ºå¤±å€¼

In [4]:
df1['B'] = df1['B'].map(lambda x:f'{x} ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python', na_action='ignore')
df1

                      A                 B    C         D         E         F
0     cat ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python  B0 ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python   C0  0.459455 -0.769518  0.273122
1     nan ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python               NaN   C1  0.600542 -1.008411  0.044325
2     nan ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python  B3 ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python   C2  0.815450 -1.261917 -0.165630
3  rabbit ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python               NaN  NaN -1.169454  1.574714 -1.126999

## è‡ªå®šä¹‰å‡½æ•°

é™¤äº† lambda ï¼Œmapè¿˜å¯ä»¥æ¥å—è‡ªå®šä¹‰å‡½æ•°ï¼Œç°åœ¨å¯¹ç¬¬ä¸‰åˆ—ï¼Œä½¿ç”¨è‡ªå®šä¹‰å‡½æ•°å®Œæˆä¸Šä¸€é¢˜çš„ä»»åŠ¡

In [5]:
def mapfun(x):
    
    return str(x) + "ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python"

df1['C'] = df1['C'].map(mapfun, na_action='ignore')
df1

,A,B,C,D,E,F
0,cat ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,B0 ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,C0ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,0.459455,-0.769518,0.273122
1,nan ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,NaN,C1ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,0.600542,-1.008411,0.044325
2,nan ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,B3 ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,C2ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,0.815450,-1.261917,-0.165630
3,rabbit ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,NaN,NaN,-1.169454,1.574714,-1.126999

## applymap

`applymap`å¯ä»¥å¯¹æ•´ä¸ª `dataframe` å·¥ä½œï¼Œç°åœ¨å°† df1 çš„æœ€åä¸‰åˆ—ä¿ç•™ä¸¤ä½å°æ•°

In [6]:
df1[['D','E','F']] = df1[['D','E','F']].applymap(lambda x:"%.2f" % x)
df1

,A,B,C,D,E,F
0,cat ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,B0 ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,C0ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,0.46,-0.77,0.27
1,nan ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,NaN,C1ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,0.60,-1.01,0.04
2,nan ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,B3 ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,C2ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,0.82,-1.26,-0.17
3,rabbit ä»Šå¤©å…³æ³¨äº†æ—©èµ·Python,NaN,NaN,-1.17,1.57,-1.13