# select_dtypes - ç­›é€‰

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```

```{note} 
æœ¬é¡µé¢ä»£ç å¯ä»¥[åœ¨çº¿ç¼–è¾‘ã€æ‰§è¡Œ](../æŒ‡å¼•/åœ¨çº¿æ‰§è¡Œ.md)ï¼

## å•ç±»å‹

`select_dtypes`  å¯ä»¥ç­›é€‰åˆ¶å®šæ•°æ®ç±»å‹çš„åˆ—ï¼Œä¾‹å¦‚ï¼Œç­›é€‰ df4 æ•°æ®ç±»å‹ä¸ºæ•´æ•°çš„åˆ—

In [2]:
import pandas as pd
df4 = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3})

df4

   a      b    c
0  1   True  1.0
1  2  False  2.0
2  1   True  1.0
3  2  False  2.0
4  1   True  1.0
5  2  False  2.0

In [3]:
df4.select_dtypes(include=['int64'])

   a
0  1
1  2
2  1
3  2
4  1
5  2

## å¤šç±»å‹

ç­›é€‰ df4 æ•°æ®ç±»å‹ä¸ºå’Œæµ®ç‚¹æ•°çš„åˆ—

In [4]:
df4.select_dtypes(include=['int','float64'])

   a    c
0  1  1.0
1  2  2.0
2  1  1.0
3  2  2.0
4  1  1.0
5  2  2.0

## é€†ç­›é€‰

ç­›é€‰ df4 æ•°æ®ç±»å‹ä¸ºå¸ƒå°”å€¼çš„åˆ—

In [5]:
df4.select_dtypes(exclude=['int','float64'])

       b
0   True
1  False
2   True
3  False
4   True
5  False