(content:PandasvsExcel)=

# Pandas å¯¹æ¯” Excel

> ä¸ºäº†æ–¹ä¾¿é•¿æœŸä½¿ç”¨ Excel çš„ç”¨æˆ·è½¬åˆ° Pandasï¼Œæˆ‘å°†ç»“åˆå®˜æ–¹æ–‡æ¡£å¯¹éƒ¨åˆ†æ“ä½œè¿›è¡Œå¯¹æ¯”

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```


##  æ•°æ®ç»“æ„

### é€šç”¨æœ¯è¯­å¯¹æ¯”

```{table}
:width: 200px

| pandas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      | Excel  |
| ----------- | ------ |
| DataFrame | å·¥ä½œè¡¨ |
| Series   | åˆ—     |
| Index     | ç´¢å¼•   |
| row         | è¡Œ     |
| NaN       | ç©ºå€¼   |

```

### DataFrame

`pandas` ä¸­çš„ `dataframe` ç±»ä¼¼äº`Excel` å·¥ä½œè¡¨ã€‚è™½ç„¶ä¸€ä¸ª `Excel` å·¥ä½œç°¿å¯ä»¥åŒ…å«å¤šä¸ªå·¥ä½œè¡¨ï¼Œä½†é€šå¸¸æƒ…å†µä¸‹ `pandas.DataFrame`æ˜¯ç‹¬ç«‹å­˜åœ¨çš„ã€‚

### Series

`Series`æ˜¯è¡¨ç¤º `DataFrame`ä¸€åˆ—çš„æ•°æ®ç»“æ„ã€‚ä½¿ç”¨ `Series` ç±»ä¼¼äºå¼•ç”¨ç”µå­è¡¨æ ¼ä¸­çš„ä¸€åˆ—ã€‚

### Index

æ¯ä¸ª `DataFrame` å’Œ `Series` éƒ½æœ‰ä¸€ä¸ª `Index`ï¼Œå®ƒæ˜¯æ•°æ®è¡Œçš„æ ‡ç­¾ã€‚åœ¨`pandas`ä¸­ï¼Œå¦‚æœæ²¡æœ‰æŒ‡å®šç´¢å¼•ï¼Œåˆ™é»˜è®¤ä½¿ç”¨RangeIndex(ç¬¬ä¸€è¡Œ= 0ï¼Œç¬¬äºŒè¡Œ= 1ï¼Œç­‰ç­‰)ï¼Œç±»ä¼¼äºç”µå­è¡¨æ ¼ä¸­çš„è¡Œæ ‡é¢˜/æ•°å­—ã€‚



åœ¨ `pandas` ä¸­ï¼Œç´¢å¼•å¯ä»¥è®¾ç½®ä¸ºä¸€ä¸ª(æˆ–å¤šä¸ª)æƒŸä¸€å€¼ï¼Œè¿™å°±åƒåœ¨å·¥ä½œè¡¨ä¸­æœ‰ä¸€åˆ—ç”¨ä½œè¡Œæ ‡è¯†ç¬¦ä¸€æ ·ã€‚ä¸å¤§å¤šæ•°ç”µå­è¡¨æ ¼ä¸åŒï¼Œè¿™äº›Indexå€¼å®é™…ä¸Šå¯ä»¥ç”¨æ¥å¼•ç”¨è¡Œã€‚(æ³¨æ„ï¼Œè¿™å¯ä»¥åœ¨Excelçš„ç»“æ„åŒ–å¼•ç”¨ä¸­å®Œæˆã€‚)ä¾‹å¦‚ï¼Œåœ¨ç”µå­è¡¨æ ¼ä¸­ï¼Œæ‚¨å¯ä»¥å¼•ç”¨ç¬¬ä¸€è¡Œä¸º `A1:Z1`ï¼Œè€Œåœ¨ pandas ä¸­ï¼Œæ‚¨å¯ä»¥ä½¿ç”¨`population .loc['Chicago']`ã€‚



## å¸¸è§æ“ä½œå¯¹æ¯”

### æ•°æ®è¯»å–

#### Excel

Excelè¯»å–æœ¬åœ°æ•°æ®éœ€è¦æ‰“å¼€ç›®æ ‡æ–‡ä»¶å¤¹é€‰ä¸­è¯¥æ–‡ä»¶å¹¶æ‰“å¼€

![](https://mmbiz.qpic.cn/mmbiz_gif/2GcSFhuAFlBtFJ5icGS87d9XrWRWhshFmgiammrwwf1KPMuyon5JESMPqvJ7dOqvawgjNAJ4lkZTNnUO993nHBEA/640?wx_fmt=gif&tp=webp&wxfrom=5&wx_lazy=1)

 #### Pandas



Pandasæ”¯æŒè¯»å–æœ¬åœ°Excelã€txtæ–‡ä»¶ï¼Œä¹Ÿæ”¯æŒä»ç½‘é¡µç›´æ¥è¯»å–è¡¨æ ¼æ•°æ®ï¼Œåªç”¨ä¸€è¡Œä»£ç å³å¯ï¼Œä¾‹å¦‚è¯»å–ä¸Šè¿°æœ¬åœ°Excelæ•°æ®å¯ä»¥ä½¿ç”¨`pd.read_excel("ç¤ºä¾‹æ•°æ®.xlsx")`

In [1]:
import pandas as pd
pd.read_excel("ç¤ºä¾‹æ•°æ®.xlsx") #å°†ç¤ºä¾‹æ•°æ®.xlsxæ”¾åœ¨è¯¥NotebookåŒä¸€æ–‡ä»¶å¤¹ä¸‹

,åˆ›å»ºæ—¶é—´,åœ°å€,å²—ä½,å­¦å†,æŠ€èƒ½è¦æ±‚,å·¥ä½œç»éªŒ,è–ªèµ„æ°´å¹³
0,2020-03-16 12:28:11,å¹¿å·,æ•°æ®å¼€å‘,æœ¬ç§‘,"['Hive', 'æ•°æ®æŒ–æ˜', 'æ•°æ®åˆ†æ']",3-5å¹´,20000.0
1,2020-03-16 12:39:03,å¹¿å·,æ•°æ®åˆ†æ,æœ¬ç§‘,"['æ•°æ®åˆ†æ', 'æ•°æ®åº“']",1-3å¹´,13000.0
2,2020-03-16 12:01:37,å¹¿å·,æ•°æ®åˆ†æ,æœ¬ç§‘,"['æ•°æ®åˆ†æ', 'å•†ä¸š']",åº”å±Šæ¯•ä¸šç”Ÿ,8000.0
3,2020-03-16 11:19:51,å¹¿å·,æ•°æ®åˆ†æ,æœ¬ç§‘,"['SQL', 'æ•°æ®åˆ†æ', 'æ•°æ®åº“']",3-5å¹´,20000.0
4,2020-03-16 11:18:49,å¹¿å·,æ•°æ®åˆ†æ,å¤§ä¸“,['æ•°æ®åˆ†æ'],1-3å¹´,8000.0
...,...,...,...,...,...,...,...
820,2020-03-16 11:20:44,æ·±åœ³,æ•°æ®åˆ†æ,æœ¬ç§‘,[],1å¹´ä»¥ä¸‹,11500.0
821,2020-03-16 11:20:42,æ·±åœ³,æ•°æ®å¼€å‘,æœ¬ç§‘,[],åº”å±Šæ¯•ä¸šç”Ÿ,4500.0
822,2020-03-16 10:33:46,æ·±åœ³,æ•°æ®åˆ†æ,æœ¬ç§‘,"['BI', 'æ•°æ®åˆ†æ', 'SQL', 'æ•°æ®åº“']",3-5å¹´,16500.0
823,2020-03-16 11:20:43,æ·±åœ³,æ•°æ®å¼€å‘,æœ¬ç§‘,[],ä¸é™,11500.0
824,2020-03-16 10:37:24,æ·±åœ³,æ•°æ®åˆ†æ,æœ¬ç§‘,[],ä¸é™,3000.0

### æ•°æ®ç”Ÿæˆ


#### Excel


ä»¥ç”Ÿæˆ**10\*2çš„0â€”1å‡åŒ€åˆ†å¸ƒéšæœºæ•°çŸ©é˜µ**ä¸ºä¾‹ï¼Œåœ¨Excelä¸­éœ€è¦ä½¿ç”¨`rand()`å‡½æ•°ç”Ÿæˆéšæœºæ•°ï¼Œå¹¶æ‰‹åŠ¨æ‹‰å–æŒ‡å®šèŒƒå›´

![](https://mmbiz.qpic.cn/mmbiz_gif/2GcSFhuAFlBtFJ5icGS87d9XrWRWhshFmH7v9mibQIU7Cm7JdAhQLIcPzLnBeG5aBlhZ6U8LOWCibfh5ocCOK1vmQ/640?wx_fmt=gif&tp=webp&wxfrom=5&wx_lazy=1)

#### Pandas


åœ¨Pandasä¸­å¯ä»¥ç»“åˆNumPyç”Ÿæˆç”±æŒ‡å®šéšæœºæ•°(å‡åŒ€åˆ†å¸ƒã€æ­£æ€åˆ†å¸ƒç­‰)ç”Ÿæˆçš„çŸ©é˜µï¼Œä¾‹å¦‚åŒæ ·ç”Ÿæˆ**10\*2çš„0â€”1å‡åŒ€åˆ†å¸ƒéšæœºæ•°çŸ©é˜µ**ä¸ºï¼Œä½¿ç”¨ä¸€è¡Œä»£ç å³å¯ï¼š`pd.DataFrame(np.random.rand(10,2))`

In [2]:
import numpy  as np
pd.DataFrame(np.random.rand(10,2))

          0         1
0  0.707877  0.734127
1  0.388418  0.822934
2  0.231120  0.715326
3  0.452778  0.758992
4  0.297916  0.473018
5  0.533477  0.373415
6  0.270263  0.965171
7  0.805758  0.056766
8  0.656652  0.062285
9  0.289735  0.656668