(content:code-outputs)=

# Pandas å…¥é—¨

> åœ¨æœ¬é¡µé¢ï¼Œæˆ‘å°†å¯¹ `Pandas` æ•°æ®åˆ†æåšä¸€ä¸ªå¿«é€Ÿã€ä¸å…¨é¢çš„æ¦‚è¿°ï¼Œä»¥å¸®åŠ©æ‚¨å¿«é€Ÿå…¥é—¨ï¼Œ

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```


## Pandasæ˜¯ä»€ä¹ˆ

[Pandas](https://pandas.pydata.org/)æ˜¯ä¸€ç§åŸºäº Python çš„å¿«é€Ÿã€å¼ºå¤§ã€çµæ´»ä¸”æ˜“äºä½¿ç”¨çš„å¼€æºæ•°æ®åˆ†æå’Œæ“ä½œå·¥å…·ã€‚

ä»¥ä¸‹æ˜¯ Pandas æ“…é•¿çš„ä¸€äº›äº‹æƒ…ï¼š

- è½»æ¾å¤„ç†æµ®ç‚¹å’Œéæµ®ç‚¹æ•°æ®ä¸­çš„ç¼ºå¤±æ•°æ®
- å¼ºå¤§ã€çµæ´»çš„åˆ†ç»„åŠŸèƒ½ï¼Œå¯å¯¹æ•°æ®é›†æ‰§è¡Œæ‹†åˆ†-åº”ç”¨-ç»„åˆæ“ä½œï¼Œç”¨äºèšåˆå’Œè½¬æ¢æ•°æ®
- ç®€å•çš„å°†å…¶ä»–Pythonå’ŒNumPyçš„æ•°æ®ç»“æ„ä¸åŒç´¢å¼•çš„æ•°æ®è½¬æ¢æˆpandaså¯¹è±¡
- ç›´è§‚çš„åˆå¹¶å’Œè¿æ¥æ•°æ®é›†
- çµæ´»åœ°é‡å¡‘å’Œæ—‹è½¬æ•°æ®é›†
- å¼ºå¤§çš„ IO å·¥å…·ï¼Œç”¨äºä»å¹³é¢æ–‡ä»¶ï¼ˆCSV å’Œåˆ†éš”ç¬¦ï¼‰ã€Excel æ–‡ä»¶ã€æ•°æ®åº“åŠ è½½æ•°æ®ï¼Œä»¥åŠä»è¶…å¿«HDF5 æ ¼å¼ä¿å­˜/åŠ è½½æ•°æ®
- æ—¶é—´åºåˆ—ç‰¹å®šåŠŸèƒ½ï¼šæ—¥æœŸèŒƒå›´ç”Ÿæˆå’Œé¢‘ç‡è½¬æ¢ã€ç§»åŠ¨çª—å£ç»Ÿè®¡ã€æ—¥æœŸåç§»å’Œæ»åã€‚

è¿™é‡Œçš„è®¸å¤šåŸåˆ™æ˜¯ä¸ºäº†è§£å†³ä½¿ç”¨å…¶ä»–è¯­è¨€/ç§‘å­¦ç ”ç©¶ç¯å¢ƒæ—¶ç»å¸¸é‡åˆ°çš„ç¼ºé™·ã€‚å¯¹äºæ•°æ®ç§‘å­¦å®¶æ¥è¯´ï¼Œå¤„ç†æ•°æ®é€šå¸¸åˆ†ä¸ºå¤šä¸ªé˜¶æ®µ:å¯¹æ•°æ®è¿›è¡Œç­›é€‰å’Œæ¸…ç†ï¼Œ**å¯¹æ•°æ®è¿›è¡Œåˆ†æ/å»ºæ¨¡ï¼Œç„¶åå°†åˆ†æç»“æœç»„ç»‡æˆé€‚åˆç»˜å›¾æˆ–è¡¨æ ¼æ˜¾ç¤º**ã€‚è€Œ Pandas æ˜¯å®Œæˆæ‰€æœ‰è¿™äº›ä»»åŠ¡çš„ç†æƒ³å·¥å…·ã€‚

## å®‰è£…ä¸ä½¿ç”¨

å®‰è£… pandas éœ€è¦åŸºç¡€ç¯å¢ƒæ˜¯ Pythonï¼Œå¦‚æœä½ è¿˜æ²¡æœ‰ Python å¯ä»¥[ç‚¹å‡»æŸ¥çœ‹å¦‚ä½•å®‰è£…ä¸é…ç½®](Pythonå®‰è£….md)

ç°åœ¨å‡å®šä½ å·²ç»å®‰è£…å®Œæ¯•ï¼Œä¾¿å¯ä»¥ä½¿ç”¨å¦‚ä¸‹å‘½ä»¤é€šè¿‡ pip å®‰è£… pandas
```
pip install pandas
```
å®‰è£…æˆåŠŸåï¼Œæˆ‘ä»¬å°±å¯ä»¥å¯¼å…¥ pandas åŒ…ä½¿ç”¨ï¼š

In [1]:
import pandas as pd

å¦å¤–éœ€è¦æ³¨æ„çš„æ˜¯ï¼Œæœ¬ç½‘ç«™çš„æ•™ç¨‹éƒ½å°†åŸºäº `pandas == 1.1.3` è¿›è¡Œå±•å¼€ï¼Œä½ å¯ä»¥ä½¿ç”¨ä¸‹æ–¹ä»£ç æ£€æŸ¥ä½ çš„ pandas ç‰ˆæœ¬ï¼Œåœ¨å‡ºç°å’Œæ•™ç¨‹ä¸ä¸€è‡´çš„é—®é¢˜æ—¶ï¼Œä¼˜å…ˆè€ƒè™‘æ£€ç´¢ç‰ˆæœ¬å·®å¼‚ï¼

In [2]:
pd.__version__

'1.1.3'

## Pandasçš„æ•°æ®ç»“æ„

åœ¨ä½¿ç”¨ `pandas` ä¹‹å‰æˆ‘ä»¬éœ€è¦å¯¹å…¶æ•°æ®ç»“æ„è¿›è¡Œåˆæ­¥çš„äº†è§£ï¼Œè‡³å°‘è¦çŸ¥é“æˆ‘ä»¬åœ¨å¤„ç†ä»€ä¹ˆæ ·çš„æ•°æ®ã€‚ 
### DataFrame
é€šå¸¸æƒ…å†µä¸‹æˆ‘ä»¬éƒ½æ˜¯å¯¹ `pd.DataFrame` è¿›è¡Œæ“ä½œï¼Œå…¶åŸºæœ¬ç»“æ„å¦‚ä¸‹å›¾æ‰€ç¤º

```{figure} https://pic.liuzaoqi.com/picgo/202112111201158.png
:width: 600px
:align: center
```

[`DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame)æ˜¯ä¸€ç§äºŒç»´æ•°æ®ç»“æ„ï¼Œæˆ‘ä»¬å¯ä»¥åœ¨æ¯ä¸€ä¸ª `cell` ä¸­å­˜å‚¨ä¸åŒç±»å‹çš„æ•°æ®ï¼ˆåŒ…æ‹¬å­—ç¬¦ä¸²ã€æ•´æ•°ã€æµ®ç‚¹å€¼ã€åˆ†ç±»æ•°æ®ç­‰ï¼‰ï¼Œä½ å¯ä»¥å°†å®ƒæƒ³è±¡æˆ Excel è¡¨æ ¼ã€SQLè¡¨æˆ–è€… Rä¸­çš„ `data.frame`ã€‚

ä¾‹å¦‚å¯ä»¥ç”¨ä¸‹é¢çš„ä»£ç åˆ›å»ºä¸€ä¸ª DataFrame ç”¨äºå­˜å‚¨æ³°å¦å°¼å…‹å·çš„ä¹˜å®¢æ•°æ®ã€‚

In [3]:
df = pd.DataFrame( {"Name": [
              "Braund, Mr. Owen Harris",
              "Allen, Mr. William Henry",
              "Bonnell, Miss. Elizabeth",],
              "Age": [22, 35, 58],
              "Sex": ["male", "male", "female"],})
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

è¿™å’Œæˆ‘ä»¬åœ¨å¦‚ä¸‹çš„ Excel è¡¨ä¸­è¾“å…¥æ˜¯ç›¸ä¼¼çš„ï¼Œåªä¸è¿‡ç”¨ä»£ç çš„å½¢å¼å¯ä»¥æ›´æ–¹ä¾¿çš„è¿›è¡Œåç»­çš„åˆ†æï¼Œæ›´å¤šæœ‰å…³å¯¼å…¥ã€åˆ›å»º `DataFrame` çš„æ–¹æ³•ï¼Œå¯ä»¥æŸ¥é˜…[æ•°æ®åŠ è½½ä¸å­˜å‚¨](../chapter1/chapt1.md)

```{figure} https://pic.liuzaoqi.com/picgo/202112111138179.png
:width: 500px
:align: center
```
### Series

æ­¤å¤–ï¼Œå¦ä¸€ä¸ªéœ€è¦å…³æ³¨çš„æ•°æ®ç»“æ„æ˜¯ `pd.Series` ï¼Œ`pandas`çš„æ¯ä¸€åˆ—éƒ½æ˜¯ä¸€ä¸ª Series 

```{figure} https://pic.liuzaoqi.com/picgo/202112111125570.png
:align: center
```

ä¾‹å¦‚æˆ‘ä»¬åªå¯¹ age åˆ—æ„Ÿå…´è¶£ï¼Œå¯ä»¥ä½¿ç”¨ `[]` å°†å…¶ç­›é€‰å‡ºæ¥ï¼Œç»“æœæ˜¯ä¾¿æ˜¯ä¸€ä¸ª`pd.Series`

In [4]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

```{admonition} æ³¨æ„
:class: attention

Series æ²¡æœ‰åˆ—æ ‡ç­¾ï¼Œåªæœ‰è¡Œæ ‡ç­¾å› ä¸ºå®ƒåªæ˜¯ DataFrame çš„ä¸€ä¸ªåˆ—ï¼Œæ‚¨å¯ä»¥æŸ¥çœ‹[å®˜æ–¹æ–‡æ¡£](https://pandas.pydata.org/docs/user_guide/dsintro.html#series)ä»¥è·å¾—æ›´å¤šç›¸å…³èµ„æ–™ã€‚
```

å¦‚æœä½ æƒ³äº†è§£æ›´å¤šçš„ç­›é€‰æ•°æ®æ–¹æ³•ï¼Œå¯ä»¥é˜…è¯»[æ•°æ®ç­›é€‰](../chapter3/æ•°æ®ç­›é€‰.ipynb)


## åˆ©ç”¨ DataFrame æˆ– Series è¿›è¡Œåˆ†æ

åœ¨ä¸Šé¢äº†è§£äº† Pandas çš„åŸºæœ¬æ•°æ®ç»“æ„ä¹‹åï¼Œç°åœ¨ï¼Œæˆ‘å°†ä»‹ç»ä¸€äº›ç®€å•çš„åˆ†æä»£ç ï¼Œä¾‹å¦‚æƒ³çŸ¥é“ä¹˜å®¢çš„æœ€å¤§å¹´é¾„ï¼Œæˆ‘ä»¬å¯ä»¥é€šè¿‡ DataFrame é€‰æ‹© Age åˆ—å¹¶åº”ç”¨ `max()` æ¥å®ç°

In [5]:
df["Age"].max()

58

æ­£å¦‚ `max()` æ–¹æ³•æ‰€ç¤ºï¼Œæˆ‘ä»¬å¯ä»¥ä½¿ç”¨DataFrameè¿›è¡Œæ“ä½œã€‚pandasæä¾›äº†å¾ˆå¤šåŠŸèƒ½ï¼Œæ¯ä¸ªåŠŸèƒ½éƒ½æ˜¯å¯ä»¥åº”ç”¨äºDataFrameæˆ–Seriesçš„æ–¹æ³•ã€‚å› ä¸ºæ–¹æ³•æ˜¯å‡½æ•°ï¼Œæ‰€ä»¥ä¸è¦å¿˜è®°ä½¿ç”¨æ‹¬å·()ã€‚

é™¤äº†è¿”å›æ•°å€¼ï¼Œå¤§éƒ¨åˆ† pandas æ“ä½œéƒ½ä¼šè¿”å›ä¸€ä¸ªDataFrameæˆ–ä¸€ä¸ªSeriesã€‚ä¾‹å¦‚è‹¥æœå¯¹æ•°æ®è¡¨çš„æ•°å€¼æ•°æ®çš„ä¸€äº›åŸºæœ¬ç»Ÿè®¡æ„Ÿå…´è¶£ï¼Œå¯ä»¥ä½¿ç”¨ `describe()` æ¥å¾—åˆ°ä¸€ä¸ªæ–°çš„ dataframe

In [6]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

å°±åƒä¸Šé¢ä»‹ç»çš„ç®€å•æ¡ˆä¾‹ï¼Œåˆ©ç”¨ Pandas è¿›è¡Œæ•°æ®åˆ†æé€šå¸¸åŒ…æ‹¬ä¸‰ä¸ªæµç¨‹
1. å¯¼å…¥åŒ…ï¼ˆ`import pandas as pd`ï¼‰
2. è¯»å–æˆ–åˆ›å»º DataFrame
3. ä½¿ç”¨ä¸åŒçš„ pandas å‡½æ•°è¿›è¡Œåˆ†æ

æ›´å¤šçš„åˆ†ææ–¹æ³•æˆ‘å·²ç»æŒ‰ç…§æ“ä½œåœºæ™¯è¿›è¡Œåˆ†ç±»æ•´ç†ï¼Œä½ å¯ä»¥ç‚¹å‡»å·¦è¾¹çš„ç›®å½•è¿›è¡Œç›¸å…³å†…å®¹çš„æŸ¥çœ‹ã€‚

## ååˆ†é’Ÿå…¥é—¨Pandas