# æ•°æ®èšåˆ

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```

```{note} 
æœ¬é¡µé¢ä»£ç å¯ä»¥[åœ¨çº¿ç¼–è¾‘ã€æ‰§è¡Œ](../æŒ‡å¼•/åœ¨çº¿æ‰§è¡Œ.md)ï¼
```

æ•°æ®èšåˆå¯ä»¥åœ¨æ•°æ®åˆ†ç»„çš„åŸºç¡€ä¸Šï¼Œè¿›ä¸€æ­¥å¯¹ä¸åŒåˆ—é‡‡å–ä¸åŒçš„è®¡ç®—è§„åˆ™ï¼Œä¾‹å¦‚æŸ¥çœ‹ä¸åŒåœ°åŒºçš„å‘˜å·¥è–ªèµ„æœ€å¤§ã€æœ€å°ã€å‡å€¼ä»¥åŠå·¥ä½œå¹´é™çš„å‡å€¼ï¼Œè¿‡ç¨‹å›¾è§£å¦‚ä¸‹

```{figure} https://pic.liuzaoqi.com/picgo/202112231931438.png
:width: 100%
:align: center
```

ä¸‹é¢æ˜¯æ›´å¤šç›¸å…³æ¡ˆä¾‹ï¼Œä½ å¯ä»¥ä¿®æ”¹ç›¸å…³ä»£ç æ¥éªŒè¯è‡ªå·±çš„æƒ³æ³•ï¼

## æœ¬é¡µæ•°æ®è¯´æ˜

ä¸ºäº†æ›´å¥½çš„ä»‹ç»ç›¸å…³æ“ä½œï¼Œæœ¬é¡µé¢ä½¿ç”¨ **æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv** æ•°æ®è¿›è¡Œå±•å¼€ï¼Œä½ åº”è¯¥å¯¹æ•°æ®**å­—æ®µã€æ•°å€¼ã€ç±»å‹**ç­‰ç›¸å…³ä¿¡æ¯åšä¸€ä¸ªå¤§è‡´äº†è§£ï¼

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth',8)
df = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",parse_dates=['createTime'])
df.head()

,positionName,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,createTime,district,salary,workYear,jobNature,education,positionAdvantage,imState,score,matchScore,famousCompany
0,æ•°æ®åˆ†æ,50-150äºº,ç§»åŠ¨äº’è”...,Aè½®,['ç»©æ•ˆ...,äº§å“|éœ€...,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,2020-...,ä½™æ­åŒº,37500,1-3å¹´,å…¨èŒ,æœ¬ç§‘,äº”é™©ä¸€é‡‘...,today,233,15.1...,False
1,æ•°æ®å»ºæ¨¡,150-...,ç”µå•†,Bè½®,['å¹´ç»ˆ...,å¼€å‘|æµ‹...,æ•°æ®å¼€å‘,å»ºæ¨¡,2020-...,æ»¨æ±ŸåŒº,15000,3-5å¹´,å…¨èŒ,æœ¬ç§‘,å…­é™©ä¸€é‡‘...,disa...,176,32.5...,False
2,æ•°æ®åˆ†æ,2000äººä»¥ä¸Š,ç§»åŠ¨äº’è”...,ä¸Šå¸‚å…¬å¸,['èŠ‚æ—¥...,äº§å“|éœ€...,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,2020-...,æ±Ÿå¹²åŒº,3500,1-3å¹´,å…¨èŒ,æœ¬ç§‘,äº”é™©ä¸€é‡‘...,today,80,14.9...,False
3,æ•°æ®åˆ†æ,500-...,ç”µå•†,Dè½®åŠä»¥ä¸Š,['ç”Ÿæ—¥...,å¼€å‘|æµ‹...,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,2020-...,æ±Ÿå¹²åŒº,45000,3-5å¹´,å…¨èŒ,æœ¬ç§‘,å¹´ç»ˆå¥–ç­‰,thre...,68,12.8...,True
4,æ•°æ®åˆ†æ,2000äººä»¥ä¸Š,ç‰©æµä¸¨è¿è¾“,ä¸Šå¸‚å…¬å¸,['æŠ€èƒ½...,äº§å“|éœ€...,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,2020-...,ä½™æ­åŒº,30000,3-5å¹´,å…¨èŒ,å¤§ä¸“,äº”é™©ä¸€é‡‘,disa...,66,12.7...,True

## èšåˆç»Ÿè®¡

### è®¡ç®—æŒ‡æ ‡

åˆ†ç»„è®¡ç®—ä¸åŒè¡Œæ”¿åŒºï¼Œè–ªæ°´çš„æœ€å°å€¼ã€æœ€å¤§å€¼å’Œå¹³å‡å€¼

In [2]:
import numpy as np
df.groupby('district')['salary'].agg([min, max, np.mean])

            min    max     mean
district
ä¸ŠåŸåŒº       22500  30000  2625...
ä¸‹æ²™        30000  30000  3000...
ä½™æ­åŒº        7500  60000  3358...
æ‹±å¢…åŒº       24000  30000  2850...
æ±Ÿå¹²åŒº        3500  45000  2525...
æ»¨æ±ŸåŒº        7500  50000  3142...
è§å±±åŒº       25000  45000  3625...
è¥¿æ¹–åŒº        6500  45000  3089...

### ä¿®æ”¹åˆ—å

å°†ä¸Šä¸€é¢˜çš„åˆ—åï¼ˆåŒ…æ‹¬ç´¢å¼•åï¼‰ä¿®æ”¹ä¸ºä¸­æ–‡

In [3]:
df.groupby('district').agg(æœ€ä½å·¥èµ„=('salary', 'min'), æœ€é«˜å·¥èµ„=(
    'salary', 'max'), å¹³å‡å·¥èµ„=('salary', 'mean')).rename_axis(["è¡Œæ”¿åŒº"])

      æœ€ä½å·¥èµ„   æœ€é«˜å·¥èµ„     å¹³å‡å·¥èµ„
è¡Œæ”¿åŒº
ä¸ŠåŸåŒº  22500  30000  2625...
ä¸‹æ²™   30000  30000  3000...
ä½™æ­åŒº   7500  60000  3358...
æ‹±å¢…åŒº  24000  30000  2850...
æ±Ÿå¹²åŒº   3500  45000  2525...
æ»¨æ±ŸåŒº   7500  50000  3142...
è§å±±åŒº  25000  45000  3625...
è¥¿æ¹–åŒº   6500  45000  3089...

### ç»„åˆè®¡ç®—

å¯¹ä¸åŒå²—ä½(`positionName`)è¿›è¡Œåˆ†ç»„ï¼Œå¹¶ç»Ÿè®¡å…¶è–ªæ°´(`salary`)ä¸­ä½æ•°å’Œå¾—åˆ†(`score`)å‡å€¼

In [4]:
df.groupby('positionName').agg({'salary': np.median, 'score': np.mean})

          salary    score
posit...
BIæ•°æ®åˆ†æå¸ˆ    20000  2.66...
biæ•°æ®åˆ†æå¸ˆ    40000  5.00...
ä¸šåŠ¡ä¸æ•°æ®åˆ†æå¸ˆ   30000  3.00...
äº§å“ç»ç†/...   60000  3.00...
äº§å“è¿è¥ï¼ˆ...   27500  15.0...
å•†ä¸šæ•°æ®åˆ†æ     35000  0.00...
å•†ä¸šæ•°æ®åˆ†æå¸ˆ    37500  5.00...
å•†ä¸šæ•°æ®åˆ†...   22500  3.00...
å¤§æ•°æ®åˆ†æ...   30000  17.0...
å¤§æ•°æ®å»ºæ¨¡æ€»ç›‘    37500  14.0...
å¥”é©°Â·è€€å‡º...   30000  0.00...
å¥”é©°è€€å‡ºè¡Œ...   42500  1.00...
åº—é“ºæ•°æ®åˆ†æå¸ˆ    30000  6.00...
æ•°æ®åˆ†æ       30000  82.7...
æ•°æ®åˆ†æ-...   30000  4.00...
æ•°æ®åˆ†æä¸“å‘˜     26250  3.00...
æ•°æ®åˆ†æä¸“å®¶     31250  8.16...
æ•°æ®åˆ†æä¸“...   21500  0.00...
æ•°æ®åˆ†æä¸“...   23750  4.50...
æ•°æ®åˆ†æä¸“...   37500  12.0...
æ•°æ®åˆ†æå®ä¹ ç”Ÿ    40000  4.00...
æ•°æ®åˆ†æå®...   26500  3.00...
æ•°æ®åˆ†æå·¥ç¨‹å¸ˆ    20000  16.0...
æ•°æ®åˆ†æå¸ˆ      37500  6.50...
æ•°æ®åˆ†æå¸ˆ...   27500  4.50...
æ•°æ®åˆ†æå¸ˆ...   37500  3.00...
æ•°æ®åˆ†æå¸ˆ...   30000  2.00...
æ•°æ®åˆ†æå¸ˆ...   40000  2.00...
æ•°æ®åˆ†æå¸ˆ/BI   45000  5.00...
æ•°æ®åˆ†æå¸ˆ...   40000  4.00...
æ•°æ®åˆ†æå¸ˆ...   30000  15.0...
æ•°æ®åˆ†æå¸ˆ...   37500  5.00...
æ•°æ®åˆ†æå»º...   30000  0.00...
æ•°æ®åˆ†æå»º...   36500  0.00...
æ•°æ®åˆ†æç»ç†     30000  6.50...
æ•°æ®åˆ†æè´Ÿ...   30000  4.00...
æ•°æ®å»ºæ¨¡       15000  176....
æ•°æ®å»ºæ¨¡ä¸“...   30000  12.0...
æ•°æ®å»ºæ¨¡å·¥ç¨‹å¸ˆ    36250  24.0...
æ—…æ¸¸å¤§æ•°æ®...   30000  1.00...
æ™ºèƒ½æ•°æ®åˆ†...   30000  3.00...
æµ™æ±Ÿæ•°æ®åˆ†æå¸ˆ    37500  5.00...
è§£å†³æ–¹æ¡ˆé¡¾...   25000  4.50...
è´¢åŠ¡æ•°æ®åˆ†æå¸ˆ    37500  4.50...
èµ„æ·±æ•°æ®åˆ†...   45000  4.00...
èµ„æ·±æ•°æ®åˆ†æä¸“å‘˜   30000  1.00...
èµ„æ·±æ•°æ®åˆ†æå¸ˆ    30000  6.66...
èµ„æ·±æ•°æ®åˆ†...   25000  4.00...
èµ„æ·±æ•°æ®åˆ†...   45000  4.00...
èµ„æ·±æ•°æ®åˆ†...   37500  15.0...
é‡‘èæ•°æ®åˆ†æå¸ˆ    22500  5.00...
é“¶è¡Œæ•°æ®åˆ†æå²—    50000  5.00...
é«˜çº§æ•°æ®åˆ†æä¸“å‘˜   22500  4.00...
é«˜çº§æ•°æ®åˆ†æå¸ˆ    30000  3.66...
é«˜çº§è´¢åŠ¡æ•°...   28750  4.50...

### å¤šå±‚ç»Ÿè®¡

å¯¹ä¸åŒè¡Œæ”¿åŒºè¿›è¡Œåˆ†ç»„ï¼Œå¹¶ç»Ÿè®¡è–ªæ°´çš„å‡å€¼ã€ä¸­ä½æ•°ã€æ–¹å·®ï¼Œä»¥åŠå¾—åˆ†çš„å‡å€¼

In [5]:
df.groupby('district').agg(
    {'salary': [np.mean, np.median, np.std], 'score': np.mean})

           salary                    score
             mean median      std     mean
district
ä¸ŠåŸåŒº       2625...  26250  5303...  2.00...
ä¸‹æ²™        3000...  30000      NaN  6.00...
ä½™æ­åŒº       3358...  30000  1085...  15.1...
æ‹±å¢…åŒº       2850...  30000  3000...  2.75...
æ±Ÿå¹²åŒº       2525...  26250  1725...  39.2...
æ»¨æ±ŸåŒº       3142...  30000  1044...  12.9...
è§å±±åŒº       3625...  37500  1030...  18.2...
è¥¿æ¹–åŒº       3089...  30000  7962...  8.06...

### è‡ªå®šä¹‰å‡½æ•°

åœ¨ 18 é¢˜åŸºç¡€ä¸Šï¼Œåœ¨èšåˆè®¡ç®—æ—¶æ–°å¢ä¸€åˆ—è®¡ç®—æœ€å¤§å€¼ä¸å¹³å‡å€¼çš„å·®å€¼

In [6]:
def myfunc(x):

    return x.max()-x.mean()

df.groupby('district').agg(æœ€ä½å·¥èµ„=('salary', 'min'), æœ€é«˜å·¥èµ„=(
    'salary', 'max'), å¹³å‡å·¥èµ„=('salary', 'mean'), æœ€å¤§å€¼ä¸å‡å€¼å·®å€¼=('salary', myfunc)).rename_axis(["è¡Œæ”¿åŒº"])

      æœ€ä½å·¥èµ„   æœ€é«˜å·¥èµ„     å¹³å‡å·¥èµ„  æœ€å¤§å€¼ä¸å‡å€¼å·®å€¼
è¡Œæ”¿åŒº
ä¸ŠåŸåŒº  22500  30000  2625...  3750...
ä¸‹æ²™   30000  30000  3000...  0.00...
ä½™æ­åŒº   7500  60000  3358...  2641...
æ‹±å¢…åŒº  24000  30000  2850...  1500...
æ±Ÿå¹²åŒº   3500  45000  2525...  1975...
æ»¨æ±ŸåŒº   7500  50000  3142...  1857...
è§å±±åŒº  25000  45000  3625...  8750...
è¥¿æ¹–åŒº   6500  45000  3089...  1410...