# å¸¸è§æ•°æ®åˆ›å»º

é™¤äº†å­¦ä¼šå¦‚ä½•ä»é™æ€æ–‡ä»¶ä¸­è¯»å–æ•°æ®ï¼Œæœ‰æ—¶æˆ‘ä»¬éœ€è¦ç›´æ¥å°†æ¥å£è¿”å›çš„æ•°æ®è½¬æ¢ä¸º pandas dataframe æˆ–ç”Ÿæˆä¸€å°æ®µæ•°æ®ç”¨äºæµ‹è¯•ï¼Œè¿™æ—¶å°±éœ€è¦çŸ¥é“å¦‚ä½•åˆ›å»ºæ•°æ®ã€‚

ä¸‹é¢æ˜¯é€šè¿‡å¸¸è§çš„å‡ ç§æ•°æ®ç»“æ„åˆ›å»ºæ•°æ®ï¼Œä½ å¯ä»¥ç‚¹å‡»å³ä¾§ç›®å½•è¿›å…¥å¯¹åº”å†…å®¹ã€‚

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```

```{note} 
æœ¬é¡µé¢ä»£ç å¯ä»¥[åœ¨çº¿ç¼–è¾‘ã€æ‰§è¡Œ](../æŒ‡å¼•/åœ¨çº¿æ‰§è¡Œ.md)ï¼
```

## ä»åˆ—è¡¨åˆ›å»º DataFrame

### å¸¸è§„æ–¹æ³•


å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šåˆ—åä¸º`"æ—©èµ·Python"`

In [1]:
import pandas as pd

In [2]:
l = [1,2,3,4,5]

In [3]:
pd.DataFrame(l,columns=['æ—©èµ·Python'])

   æ—©èµ·Python
0         1
1         2
2         3
3         4
4         5

### åµŒå¥—åˆ—è¡¨è½¬æ¢


å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šè¡Œç´¢å¼•ä¸º`"å…¬ä¼—å·","æ—©èµ·Python"`

In [4]:
l = [[1,2,3],[4,5,6]]

In [5]:
pd.DataFrame(l,index=['å…¬ä¼—å·','æ—©èµ·Python'])

          0  1  2
å…¬ä¼—å·       1  2  3
æ—©èµ·Python  4  5  6

## ä»å­—å…¸åˆ›å»º DataFrame

### å¸¸è§„æ–¹æ³•

æ‰§è¡Œä¸‹æ–¹ä»£ç ï¼Œå¹¶å°†å­—å…¸è½¬æ¢ä¸º`dataframe`

In [6]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]) }

In [7]:
pd.DataFrame(d)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

### æŒ‡å®šç´¢å¼•

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`

In [8]:
pd.DataFrame(d, index=["d", "b", "a"])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

### æŒ‡å®šåˆ—å

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`ï¼Œåˆ—åä¸º`"two", "three"`

In [9]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

### å­—å…¸åˆ—è¡¨

å°†ä¸‹æ–¹åˆ—è¡¨å‹å­—å…¸è½¬æ¢ä¸º`dataframe`

In [10]:
d = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [11]:
pd.DataFrame(d)

   a   b     c
0  1   2   NaN
1  5  10  20.0

```{admonition} æ€è€ƒ
:class: hint

å¦‚ä½•æŒ‡å®šè¡Œ/åˆ—ç´¢å¼•ï¼Ÿ
```

## ä»é›†åˆåˆ›å»º DataFrame

### å¸¸è§„æ–¹æ³•


å°†ä¸‹é¢çš„å…ƒç»„è½¬æ¢ä¸º dataframe ä¸”è¡Œåˆ—ç´¢å¼•å‡ä¸º `1,2,3,4`

In [12]:
t =((1,0,0,0,),(2,3,0,0,),(4,5,6,0,),(7,8,9,10,))

In [13]:
pd.DataFrame(t, columns=[1,2,3,4], index=[1,2,3,4])

   1  2  3   4
1  1  0  0   0
2  2  3  0   0
3  4  5  6   0
4  7  8  9  10