# æ•°æ®é¢„è§ˆ

```{admonition} åœ¨çº¿åˆ·é¢˜
:class: seealso

æ£€æŸ¥ or å¼ºåŒ– `Pandas` æ•°æ®åˆ†ææ“ä½œï¼Ÿ<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">ğŸ‘‰åœ¨çº¿ä½“éªŒã€ŒPandasè¿›é˜¶ä¿®ç‚¼300é¢˜ã€</a>
```

```{note} 
æœ¬é¡µé¢ä»£ç å¯ä»¥[åœ¨çº¿ç¼–è¾‘ã€æ‰§è¡Œ](../æŒ‡å¼•/åœ¨çº¿æ‰§è¡Œ.md)ï¼
```

## æœ¬é¡µæ•°æ®è¯´æ˜

ä¸ºäº†æ›´å¥½çš„ä»‹ç»ç›¸å…³æ“ä½œï¼Œæœ¬é¡µé¢ä½¿ç”¨ **è±†ç“£ç”µå½±TOP250** æ•°æ®è¿›è¡Œå±•å¼€ï¼Œä½ åº”è¯¥å¯¹æ•°æ®**å­—æ®µã€æ•°å€¼ã€ç±»å‹**ç­‰ç›¸å…³ä¿¡æ¯åšä¸€ä¸ªå¤§è‡´äº†è§£ï¼

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth',10)
df = pd.read_excel("TOP250.xlsx")
df.head()

,ç‰‡å,ä¸Šæ˜ å¹´ä»½,è¯„åˆ†,è¯„ä»·äººæ•°,å¯¼æ¼”,ç¼–å‰§,ä¸»æ¼”,ç±»å‹,å›½å®¶/åœ°åŒº,è¯­è¨€,æ—¶é•¿(åˆ†é’Ÿ)
0,è‚–ç”³å…‹çš„æ•‘èµ,1994,9.7,2317937.0,å¼—å…°å…‹Â·å¾·æ‹‰é‚¦ç‰¹,å¼—å…°å…‹Â·å¾·æ‹‰...,è’‚å§†Â·ç½—å®¾æ–¯...,å‰§æƒ… / çŠ¯ç½ª,ç¾å›½,è‹±è¯­,142.0
1,éœ¸ç‹åˆ«å§¬,1993,9.6,1720638.0,é™ˆå‡¯æ­Œ,èŠ¦è‹‡ / æç¢§å,å¼ å›½è£ / ...,å‰§æƒ… / çˆ±...,ä¸­å›½,æ±‰è¯­æ™®é€šè¯,171.0
2,é˜¿ç”˜æ­£ä¼,1994,9.5,1743966.0,ç½—ä¼¯ç‰¹Â·æ³½ç±³å‰æ–¯,è‰¾ç‘å…‹Â·ç½—æ–¯...,æ±¤å§†Â·æ±‰å…‹æ–¯...,å‰§æƒ… / çˆ±æƒ…,ç¾å›½,è‹±è¯­,142.0
3,è¿™ä¸ªæ€æ‰‹ä¸å¤ªå†·,1994,9.4,1922740.0,å•å…‹Â·è´æ¾,å•å…‹Â·è´æ¾,è®©Â·é›·è¯º /...,å‰§æƒ… / åŠ¨...,æ³•å›½,è‹±è¯­,110.0
4,æ³°å¦å°¼å…‹å·,1997,9.4,1706127.0,è©¹å§†æ–¯Â·å¡æ¢…éš†,è©¹å§†æ–¯Â·å¡æ¢…éš†,è±æ˜‚çº³å¤šÂ·è¿ª...,å‰§æƒ… / çˆ±...,ç¾å›½,è‹±è¯­,194.0

## æ•°æ®ç»´åº¦

å…ˆçœ‹çœ‹æ•°æ®å¤šå°‘è¡Œï¼Œå¤šå°‘åˆ—ï¼Œå¯¹æ¥ä¸‹æ¥çš„å¤„ç†é‡å¿ƒé‡Œæœ‰ä¸ªæ•°

In [2]:
df.shape

(262, 11)

## æ•°æ®æŠ½æ ·

ä¹Ÿå°±æ˜¯éšæœºæŸ¥çœ‹ä¸€ä¸ªæ ·æœ¬ï¼Œå¤§è‡´äº†è§£ä¸‹æ•°æ®

In [3]:
df.sample()

# df.sample(n) #æŠ½nä¸ªæ ·æœ¬

,ç‰‡å,ä¸Šæ˜ å¹´ä»½,è¯„åˆ†,è¯„ä»·äººæ•°,å¯¼æ¼”,ç¼–å‰§,ä¸»æ¼”,ç±»å‹,å›½å®¶/åœ°åŒº,è¯­è¨€,æ—¶é•¿(åˆ†é’Ÿ)
33,æŒ‡ç¯ç‹3ï¼šç‹è€…æ— æ•Œ,2003,9.2,612850.0,å½¼å¾—Â·æ°å…‹é€Š,å¼—å…°Â·å¨å°”å£«...,ä¼Šåˆ©äºšÂ·ä¼å¾·...,å‰§æƒ… / åŠ¨...,ç¾å›½,è‹±è¯­,201.0

## æŸ¥çœ‹æ•°æ®å‰ 3 è¡Œ

æ£€æŸ¥å¤´å°¾æ•°æ®ï¼Œæ›´è¯¦ç»†çš„çœ‹ä¸€ä¸‹æ•°æ®

In [4]:
df.head(3)
# df.tail() # æŸ¥çœ‹å5è¡Œ

,ç‰‡å,ä¸Šæ˜ å¹´ä»½,è¯„åˆ†,è¯„ä»·äººæ•°,å¯¼æ¼”,ç¼–å‰§,ä¸»æ¼”,ç±»å‹,å›½å®¶/åœ°åŒº,è¯­è¨€,æ—¶é•¿(åˆ†é’Ÿ)
0,è‚–ç”³å…‹çš„æ•‘èµ,1994,9.7,2317937.0,å¼—å…°å…‹Â·å¾·æ‹‰é‚¦ç‰¹,å¼—å…°å…‹Â·å¾·æ‹‰...,è’‚å§†Â·ç½—å®¾æ–¯...,å‰§æƒ… / çŠ¯ç½ª,ç¾å›½,è‹±è¯­,142.0
1,éœ¸ç‹åˆ«å§¬,1993,9.6,1720638.0,é™ˆå‡¯æ­Œ,èŠ¦è‹‡ / æç¢§å,å¼ å›½è£ / ...,å‰§æƒ… / çˆ±...,ä¸­å›½,æ±‰è¯­æ™®é€šè¯,171.0
2,é˜¿ç”˜æ­£ä¼,1994,9.5,1743966.0,ç½—ä¼¯ç‰¹Â·æ³½ç±³å‰æ–¯,è‰¾ç‘å…‹Â·ç½—æ–¯...,æ±¤å§†Â·æ±‰å…‹æ–¯...,å‰§æƒ… / çˆ±æƒ…,ç¾å›½,è‹±è¯­,142.0

## æŸ¥çœ‹æ•°æ®åŸºæœ¬ä¿¡æ¯

çœ‹çœ‹æ•°æ®ç±»å‹ï¼Œæœ‰æ— ç¼ºå¤±å€¼ä»€ä¹ˆçš„

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ç‰‡å      262 non-null    object
 1   ä¸Šæ˜ å¹´ä»½    262 non-null    int64
 2   è¯„åˆ†      257 non-null    float64
 3   è¯„ä»·äººæ•°    259 non-null    float64
 4   å¯¼æ¼”      262 non-null    object
 5   ç¼–å‰§      262 non-null    object
 6   ä¸»æ¼”      262 non-null    object
 7   ç±»å‹      262 non-null    object
 8   å›½å®¶/åœ°åŒº   256 non-null    object
 9   è¯­è¨€      256 non-null    object
 10  æ—¶é•¿(åˆ†é’Ÿ)  256 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 22.6+ KB

## æŸ¥çœ‹æ•°å€¼æ•°æ®ç»Ÿè®¡ä¿¡æ¯

æŸ¥çœ‹ **æ•°å€¼å‹** åˆ—çš„ç»Ÿè®¡ä¿¡æ¯ï¼Œè®¡æ•°ã€å‡å€¼ä»€ä¹ˆçš„

In [6]:
df.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
ä¸Šæ˜ å¹´ä»½,262.0,2000.60,15.57,1931.0,1995.00,2004.0,2011.0,2019.0
è¯„åˆ†,257.0,8.91,0.26,8.4,8.70,8.9,9.1,9.7
è¯„ä»·äººæ•°,259.0,577631.72,367670.85,106462.0,335307.50,479949.0,693230.5,2317937.0
æ—¶é•¿(åˆ†é’Ÿ),256.0,121.83,28.08,45.0,101.75,118.0,136.0,237.0

## æŸ¥çœ‹ç¦»æ•£æ•°æ®ç»Ÿè®¡ä¿¡æ¯

æŸ¥çœ‹ **ç¦»æ•£å‹** åˆ—çš„ç»Ÿè®¡ä¿¡æ¯ï¼Œè®¡æ•°ã€é¢‘ç‡ä»€ä¹ˆ

In [7]:
df.describe(include=['O'])

          ç‰‡å   å¯¼æ¼”    ç¼–å‰§         ä¸»æ¼”   ç±»å‹ å›½å®¶/åœ°åŒº   è¯­è¨€
count    262  262   262        262  262   256  256
unique   249  180   221        249  120    20   26
top     æ— äººçŸ¥æ™“  å®«å´éª  æ˜¯æè£•å’Œ  æŸ³ä¹ä¼˜å¼¥ /...   å‰§æƒ…    ç¾å›½  è‹±è¯­
freq       5    8     7          5   24   111   72